.about-icon-container {
  display: flex;
  justify-content: center;
  margin: 10px;
  cursor: pointer;
}
.about-icon {
  padding-left: 5px;
}
.about-icon-text {
  padding-left: 15px;
}
.about-image {
  margin: 10px;
  width: 100%;
}
