.data-container {
  position: relative;
  width: 300px;
  height: 200px;
  background-color: yellowgreen;
  color: black;
  left: 50%;
  transform: translateX(-50%);
}
.row {
  display: flex;
  justify-content: space-around;
  width: 100%;
  position: relative;
  height: 20px;
  margin-top: 5px;
}
.column {
  width: 15%;
  height: 100%;
  border: 1px solid black;
  text-align: center;
}
.column.header {
  font-weight: bold;
}
