.navbar {
  width: 100%;
}

.navbar-container {
  width: 95%;
  max-width: 1400px;
  margin: 0 auto;
}

.nav {
  margin: 0 10px;
  width: fit-content;
  text-align: center;
  text-decoration: none;
  line-height: 49px;
  font-size: 20px;
  color: black;
}
.nav:hover {
  color: #14b8a6;
}
.footer-nav {
  margin: 0 30px;
  color: gray;
  text-decoration: none;
}
.footer-nav:hover {
  color: #14b8a6;
}
@media (max-width: 600px) {
  .footer-nav {
    margin: 0 15px;
  }
  .nav-list {
    margin: 10px 0 0 0;
  }
  .nav {
    width: fit-content;
  }
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.box {
  transition: all 0.3s ease;
  cursor: pointer;
  background-color: white;
}
.box:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12);
}

@font-face {
  font-family: 'ChineseFont';
  src: url('./assets/fonts/chinese.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
