.App {
  text-align: center;
}
.nav-bar {
  position: relative;
  list-style: none;
  display: flex;
  justify-content: end;
  background-color: #02a28f;
  height: 70px;
  padding-right: 10%;
  margin: 0;
}
.nav-bar .title {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 25px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}
.nav-bar .nav-block {
  font-size: 20px;
  color: white;
  margin: 0 10px;
  text-decoration: none;
  line-height: 70px;
}
.main-content {
  margin: 0 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}
.main-container {
  position: relative;
  height: 200px;
  width: 500px;
  margin: 10px;
  overflow: hidden;
  background-color: #d9d9d9;
  border-radius: 20px;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
