.login {
  width: 100%;
  font-size: large;
  justify-content: center;
  display: flex;
}
.login * {
  margin: 10px;
}
.chat-content {
  position: relative;
  width: 70%;
  height: calc(100vh - 70px);
  background-color: antiquewhite;
}
.chat-history {
  position: relative;
  width: auto;
  margin: 10px;
  height: calc(100vh - 70px - 100px - 20px);
  overflow: scroll;
  overflow-x: hidden;
}
.chat-history .row {
  width: fit-content;
  height: fit-content;
  display: flex;
  margin: 10px;
}
.row .avatar {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: white;
}
.row .text {
  width: auto;
  margin-left: 10px;
  max-width: 250px;
  word-wrap: break-word;
  overflow: hidden;
}
.chat-input {
  position: relative;
  width: auto;
  height: 100px;
  margin: 10px;
  color: white;
  font-size: large;
}
.send-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  height: 80px;
  width: calc(70vw - 20px - 70px - 15px);
}
.send-button {
  position: absolute;
  height: 50px;
  width: 70px;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  font-size: large;
}
.friend-list {
  width: 30%;
  height: calc(100vh - 70px);
  background-color: darkcyan;
}
.friend-container {
  position: relative;
  width: auto;
  height: 50px;
  margin: 5px;
  border: 1px solid white;
  cursor: pointer;
}
.friend-container .name {
  color: white;
  margin-left: 5px;
}
.friend-container .status {
  display: flex;
  text-align: center;
  margin-left: 5px;
  height: 20px;
}
.dot {
  height: 10px;
  width: 10px;
  background-color: green;
  border-radius: 50%;
  position: relative;
  top: 6px;
}
.center {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
